DT { margin-top: 0.4em; }
DD { margin-bottom: 0.4em; }

h1, h2, h3, h4, h5, h6 {
  margin: 0.8em 0 0.2em 0; }
h1 {
  margin-top: 0.2em;
}
h1+h2, h2+h3, h3+h4, h4+h5, h5+h6 {
  margin-top: 0.2em; }

h1, h2, h3, h4 { color : #000; background : #e0ffdd url(bg3.png); }
@media print {
h1, h2, h3, h4 { background: #eee none; color: #000; } }

UL LI { margin-bottom: 0.3em; margin-top: 0.3em }
OL LI { margin-bottom: 0.3em }

ul ul, ol ol { margin-top: 0; padding-top: 0;
               margin-bottom: 0.25em;  }

UL, OL { margin-top: 0.15em; margin-bottom:1em}

UL.separate, OL.separate { margin-top: 0.3em; } 

.infobox,
.tocbox { 
   width: 17em;
   float: right;
   padding: 0.3em;
   margin: 0 0 0.2em 0.4em; 
   border: solid 1px gray;
   border-radius: 0.3em;
   background: white;
   color: black;
}
.infobox h2 {
   background: white;
   color: black;
}
.tocbox ul { margin-left: 1.2em; margin-top: 0; margin-bottom: 0; }
.tocbox h2 { font-size: 110%; margin:0; }

.tocbox li,
UL.toc LI, UL.compact LI { margin-top: 0; margin-bottom:0; }
UL.compact { margin-top : 0.1em }

.searchbox { width: 15em;
             float: right;
             font-size: 90%;
             margin-left: 0.5em;
}

.summary {  font-size : 105%;
            margin-left : 2em;
            border : solid rgb(134,194,171) 2px;
            -moz-border-radius: 0.4em;
            padding : 0.2em 0.2em 0.2em 0.4em;}

.important { font-size:104%;
            border : solid #960 3px; padding : 0.4ex;
            margin-left : 1em; }

div.warning, P.warning { font-size : 105%; 
            background: white;
            color: #600;
            margin-left : 2em; 
            margin-right: 2em;
            border : solid red 0.04em; padding : 0.4ex}

strong.warning, em.warning { color : #900; background : #fff ; }

.editorial { font-size : 90%; 
            margin-left : 5em;
            border : inset #f3c 1px; padding : 3px}

.note { margin-left: 1em;
        font-style: oblique;
        color: #030;
        background: white; }

.example { font-size:100%; padding-left:0.7ex;
           margin: 0.5em 0 0.8em 1em;
           border-left : solid #060 2px;}

HR { color : #9cc; background-color : #99cccb; height : 4px; }

FORM { border : solid gray 2px; padding : 3px; }

form, input.radio { background : #efe url(bg.gif);   color : #000; }
/* bg was #cc9 none */

input:focus, textarea:focus, select:focus, input:hover
  { background : #ffd;
    color : black; }
input[type="submit"]:hover { background: #ffd;
                             color: #600; }
input[type="submit"]:active { outline-color: red;
                              color: red;
                              background: #ffc; }
input, textarea, option, button { font-size: 100%; } 

@media print {
  input, textarea {overflow:visible;}}

H1 { text-align : center }
/*
H2 { margin-left : 1em }
*/

h1, h2, h3, h4, h5, h6, .h7 {
  font-weight: normal;
  font-family : Calibri, Helvetica, Arial, sans-serif; }
.h7 { border: solid 1px #999;
      padding: 0.1em 0.2em; }
p { margin: 0.3em 0 1.1em 0; }
.new { margin-top: 0.9em; }

h1 { font-size: 170%; }
h2 { font-size: 150%; }
h3 { font-size: 130%; }
h4 { font-size: 115%; }
h5 { font-size: 110%; }
h6 { font-size: 100%; }
.h7 { font-weight: normal;
      font-style: italic;
      margin: 0.8em 0 0.4em; }

/* Set line height for _all_ elements, specifically to
   avoid Peek-a-boo bugs.
* { line-height: 1.22; }
REMOVED as causing inflexibility */

@media screen {
body { max-width: 40em; }
}
/*
footer, .footer, blockquote div, .parlike, div.warning,
p, li, dt, dd, h6 { max-width: 40em; }
h1 { max-width: 24em; }
h2 { max-width: 28em; }
h3 { max-width: 32em; }
h4 { max-width: 33em; }
h5 { max-width: 36em; }
*/

.nav {  
  font-size: 80%; }
sub, sup, .sub, .sup {
  vertical-align: 0;
  position: relative; }
sup, .sup { bottom: 1ex; }
sub, .sub { top: 0.8ex; }
.sup, .sub { font-size: 80%; }

.nav { color:#000; background: #f0f0ff none; margin-top:1.0em; }

caption, .subcaption  { color : #000; background : #ffc none; }

TABLE.menu { border : solid blue 2px; padding : 3px;
  text-align : center }

table.normal  { 
  border: solid #121 1px;
  border-collapse: collapse; }
table.normal th, table.normal td {
  vertical-align: top;
  border: solid #121 1px;
  padding : 0 0.3em 0 0.3em; }
table.horiz th, table.horiz td {
  border-left-width: 0;
  border-right-width: 0;
}

table.texttable  { border : solid #222 0.1em; padding : 2em; }
.codetable TR TD A {text-decoration:none; font-size:large}

blockquote { border : solid #696 1px;
   padding : 0.06em 0.2em 0.06em 0.4em; 
   margin: 0 0.5em 0.2em 1em;
   background: #f9f9f9 none; color: #000; }
.credit { text-align : right; 
   font-family:Arial,Helvetica,sans-serif; }
.credit { font-size: 80%; } 
.credit small { font-size: 100%; } 

@media screen { blockquote {
   -moz-border-radius: 0.3em; }}

blockquote pre { margin: 0; }

blockquote > p:first-child { margin-top: 0; }
blockquote > p:last-child  { margin-bottom: 0; }

.sk p { text-indent: -0.7em;
        padding-left: 0.7em; }
.sk dfn { color: black; background: white;
          font-style: normal; }
.sk, .sk p { margin: 0; }

.wide { margin : 0 0 0 0;
font-size : smaller }

.kapit,
.charname { font-variant: small-caps }

CAPTION { font-weight: bold}

/*html    { background: url(images/talvi1.png) repeat-y; }*/
/* BODY    { background : #f6fff6 url(bg31.png); */
BODY    { background : #fbfffe;
          color : #000; 
          font-size: 100%;
          margin: 0 0 0 0.0;
          padding: 0.4em 0.4em 0.4em 0.6em; }

a:link, a:link *
 { color : #0000af; background : transparent ;
   text-decoration: underline}
a:visited, a:visited *
 { color : #609; background : transparent ;
   text-decoration: underline}
a:link:hover, a:link:hover *,
a:visited:hover, a:link:hover *
 { color : #c33; background : #ffe ;
   text-decoration: none; }
a:link:focus, a:link:focus *
/* a:link:active, a:link:active * */
 { background: yellow;
   color: red;
   text-decoration: none; }
a:visited:focus, a:visited:focus *
/* a:visited:active, a:visited:active * */
 { background: #ffc;
   color: red;
   text-decoration: none; }

.nounderline { text-decoration: none; }

strong,
EM {      color : #400000;
          background:transparent ;}
em.u { font-style: normal;
       text-decoration: underline; }
cite{      font-weight:500;
          color : #030;
          background:transparent ;}

DFN, DT { font-weight: bold;
          color : #043;
          background:#f6fff6 none;}

var { background:transparent ; color:#060;}

ul { margin-top: 0.4em; padding-top: 0; }

ul, ol { margin-left: 1.5em; padding-left: 0; }
li { margin-left: 0; padding-left: 0; }

ul.menu { margin: 0; list-style-type: none; }
ul.menu li { display: block; float: left; margin: 0;
 width: 8em; }
.fresh { clear: both; }

.minitoc {
  width: 12em;
  float: right;
  margin-left: 1em;
  background: #efe;
  color: black;
  border: solid #090 thin;
  padding: 0.2em 0.25em 0.2em 0.4em; }
ul.minitoc, .minitoc ul {
  margin-top: 0;
  margin-bottom: 0.15em; 
  padding-left: 0;
  margin-left: 1em;
  page-break-inside: avoid;
}
ul.minitoc li, .minitoc ul li {
  margin-left: 0em;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; }
/*
ul.minitoc li, .minitoc ul li {
  padding-left: 0.5em; }
*/

.sidebox {
  width: 20em;
  float: right;
  margin-left: 1em;
  border: solid #063 1px;
  padding: 0.2em 0.25em 0.2em 0.4em;
  page-break-inside: avoid; }

KBD { font-weight: bold}

/*PRE { background: #e0ffe0; color:black;}*/
PRE { background: #f0fff0; color:black;}

PRE.cmd { background: #fcf; color:black;}

PRE.samp { background: #fff0f0; color:black;}

.screen {background : #fff; color:#600; font-size:smaller;
border : solid #333 1px;
 padding : 3px;
font-family : "Lucida Console", Courier, monospace }

address { font-style: normal; margin-left:0.5em; margin-top:0.6em; } 
address { text-align:left;}
.signed { font-family : "Lucida Handwriting",  Western, cursive; }

.langcode  { background: white; color: #030; border: solid 1px #033;
  padding-left:0.1em;  padding-right:0.1em;
  font-family: "Courier New", "Lucida Console", Courier, monospace;}

pre, tt
  { font-family : Consolas, Lucida Console, "Courier New", monospace; }

code, samp, kbd
  {
  font-family : Cambria, Garamond, Palatino Linotype, serif; 
  color: #6e380a;
  background: transparent;
  font-style : normal; }

code, samp, kbd, tt {
  font-size: 100%; }

.numeric, .num
  { font-family : "Courier New", monospace;
    text-align : right; }

pre { white-space : pre; }

small, .small, .deem, .footer, footer { font-size : 85%; }

/*small code, .small code, .deem code { font-size : 95%; }*/
 
p.literary, .literary p { text-indent : 1em;
    margin-bottom : 0;
    margin-top : 0; }

p.first { text-indent : 0 !important; }

p.start { text-indent : 0;
    margin-bottom : 0.5ex; }

p.start:first-letter { font-size : 200%; font-weight : bold;
   color : #060; background : #fff ; }
 
.separated { margin-top: 1em; }

table.ex tr.sample td { font-weight : bold; color : black; 
  background : white none; text-align : center; }

.line { line-height: 1.3em; }

.formula { padding-left: 2em; line-height: 1.8em; }

iframe { border-bottom: solid black 1px; }

ul.compact li.sect { margin-top:1em !important;}

li.sect:first-letter {font-weight:bold;}

.url { font-size:75%; display:none; }
.printonly { display: none; }

.slide { border: solid 0.05em #060; padding-left: 0.5em}

table.compact td, table.compact th
 { padding-left: 0.2em; padding-right:0.2em; }

.thleft th { text-align: left; } 

.univ { background: rgb(134,194,171) none; color: #000; }

.annlist p { margin-left: 2em; margin-top:0.2em; margin-bottom: 0.2em; }
.annlist h2 { font-size: 100%; margin-left: 0; margin-bottom:0.2em;
 margin-top:0.4em; background: transparent;}

.ellip { letter-spacing:-0.15em; }

.spaced { letter-spacing: 0.08em; }

.number,
.date,
.nobr { white-space: nowrap; }

.tight,
.number { word-spacing: -0.1em; }

.sc,
.ipa
{ font-family: "Arial Unicode MS", "Doulos SIL", "Lucida Sans Unicode"; 
  }

img.assoc { float: right; margin-left: 0.5em; }
.imgbox { float: left; margin: 0 1em 0.3em 0; }

.em em { font-style: normal; }
.em em em { font-style: italic; }
.em    { font-size: 108%; margin-left:0.8em; }

ins { text-decoration: none; border-bottom: #900 dashed 0.15ex; }

abbr    { border-color: #00f; }
acronym { border-color: #222; }
abbr    { text-decoration: none; }
abbr.redund, acronym.redund { border: none; }

html[lang] ul.dash-inside li { list-style-type: none; }
ul.dash-inside li:before { content: "\2014 ";
                           padding-right: 0.2em; }
html[lang] ul.dash-outside li { list-style-type: none;
                                margin-left: 1.4em;
                                text-indent: -1.4em; }
ul li.dash-outside:before { content: "\2014 ";
                            display: block;
                            float: left;
                            width: 1.4em; }

p { widows: 3;
    orphans: 3; }
h1, h2, h3, h4, h5, h6, .h7 { page-break-after: avoid; }

@media print {
  html, body { margin: 0; padding: 0; }
  body { margin: 0.5em 1em 0.5em 2.5em; }
  body { font-size: 85%; }
  body { background: #fff none; color: #000; }
  a:link, a:visited, a, a:link *, a:visited *
    { text-decoration: none; color: #000; background: #fff none; }
  .noprint { display: none; }
  .printonly { display: block; }
  .credit { page-break-before: avoid; }
  abbr, acronym { border: none; }
  .url { display: inline; padding-right:0.8em; } }

.intro {width: 21em;
        float: right;
        margin: 0 0 1em 0.8em;
        }

.me { word-spacing: -0.18em; }

.caption       { font: caption; }
.small-caption { font: small-caption; }
.icon          { font: icon; }
span.menu      { font: menu; }
.message-box   { font: message-box; }
.status-bar    { font: status-bar; }
span.menu      { color: MenuText;
                 background: Menu; }

.clue { border-bottom: dashed thin #ccf; }

.short-links a { white-space: nowrap; }

.thin { width: 0.2em; }

.ts { padding-right: 0.2em; } /* thin space after */

.poem div { text-indent: -1em;
            margin-left: 1em; }

.ss { padding-left: 0.08em; } /* small spacing before element */
.pa { padding-right: 0.1em; } /* small spacing after element */
.pad { padding-left: 0.1em; padding-right: 0.1em; }
.rp, .rpad { padding-right: 0.3em; }

.key { 
  padding: 0 0.12em; 
  border: solid 2px #777;
  border-radius: 5px;
  background: #eee;
  color: black;
  font-family: Microsoft Sans Serif, sans-serif;
  font-size: 85%;
  display: inline-block;
  text-align: center;
  min-width: 1em;
}

em.harv { font-style: normal; letter-spacing: 0.2em; word-spacing: 0.3em;
padding-left:  0.2em}

i em.harv, em em.harv { font-style: italic; }

.over { margin-left: -0.35em; padding-right: 0.1em }

.nbsp { background: #ccc; }

ul.long.multiline li { text-indent: -1em; padding-left: 1em; }

p.last { margin-bottom: 0; }

.box { border: solid 1px black; height:1em; font-size:0.9em}

blockquote.plain { border : none;
 background : transparent none; color : #000; margin-left:2em; }

.motto {margin-left:15em; margin-right:0; border: groove #9c9 3px;
padding: 0.1em 0.25em;}

form.button {background:transparent none; border:none;}

p.lh { margin-bottom:0; }

bdi { unicode-bidi: embed; }

[data-tip] {
  position: relative;
}
[data-tip]:hover:after {
  position: absolute;
  top: 1em;
  left: 0;
  width: 20em;
  content: attr(data-tip);
  background: white;
  color: #030;
  padding: 0.1em 0.2em;
  border: solid 0.1em #060;
}

.holdon {
  position: absolute;
  top: 3em;
  left: 10%;
  right: 10%;
  background: rgba(255, 255, 200, 0.8);
  border: solid red 0.2em;
  border-radius: 0.5em;
  padding: 0.3em 0.5em;
  font-size: 130%;
}
.holdon:hover {
  opacity: 0;
}